# Ignore everything
/*

# Config Files
!.gitignore
!.ackrc
!.bash_profile
!.p10k.zsh
!.vimrc
!.zshrc
!iterm.json
!README.md
!terminal_profile.termianl

!.ssh
.ssh/*
!.ssh/config
.vim/*
!.vim
!.vim/configs
!.vim/autoload
!.vim/autoload/Plug.vim
!setup.sh
